<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">

    <title>Mercado Liebre</title>

</head>
<body>
    <header>
        <img class="logo" src="/images/logo-Mercado-Liebre.svg">
        <br>
    
        <div class="buscar"> <input type="text" placeholder="Buscar productos, marcas" > 
        <i class="fas fa-search"></i> 
        </div>
        <br>
        <div class="comprar"> <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </div>
        <div>
            <ul class="lista">
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            <br>
                <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a> </li> 
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a> </li>
                <li>Mis Compras <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>
    <main>
        <section>
            <h3 class="titulares">Basado en la última vista </h3>
            <article>
                <img height="200" src="/images/img-cafetera-moulinex.jpg">
                <div>
                    <i class="fas fa-truck"></i>
                    <span class="precio">$6.770</span>
                    <br><br>
                    <span class="descuento">40%OFF</span>
                    <br> 
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img height="200" src="/images/img-macbook-pro-2019.jpg">
                <div>
                    <i class="fas fa-truck"></i>
                    <span class="precio">$230.000</span>
                    <br><br>
                    <span class="descuento">20%OFF</span>
                    <br> 
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img height="200" src="/images/img-samsung-galaxy-s10.jpg">
                <div>
                    <i class="fas fa-truck"></i>
                    <span class="precio">$70.500</span>
                    <br><br>
                    <span class="descuento">10%OFF</span>
                    <br> 
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img height="200" src="/images/img-tv-samsung-smart.jpg">
                <div>
                    <i class="fas fa-truck"></i>
                    <span class="precio">$23.200</span>
                    <br><br>
                    <span class="descuento">5%OFF</span>
                    <br> 
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <section>
            <h3 class="titulares">Ofertas</h3>
            <article>
                <img height="200" src="/images/img-cafetera-moulinex.jpg">
                <div>
                    <i class="fas fa-truck"></i>
                    <span class="precio">$6.770</span>
                    <br><br>
                    <span class="descuento">40%OFF</span>
                    <br> 
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img height="200" src="/images/img-macbook-pro-2019.jpg">
                <div>
                    <i class="fas fa-truck"></i>
                    <span class="precio">$230.000</span>
                    <br><br>
                    <span class="descuento">20%OFF</span>
                    <br> 
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img height="200" src="/images/img-samsung-galaxy-s10.jpg">
                <div>
                    <i class="fas fa-truck"></i>
                    <span class="precio">$70.500</span>
                    <br><br>
                    <span class="descuento">10%OFF</span>
                    <br> 
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img height="200" src="/images/img-tv-samsung-smart.jpg">
                <div>
                    <i class="fas fa-truck"></i>
                    <span class="precio">$23.200</span>
                    <br><br>
                    <span class="descuento">5%OFF</span>
                    <br> 
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer class="icons">
        <section> <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section> <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section> <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>
</html>