<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

    <header class="main-header">
        <div class="main-top">
          <img src="./images/logo-mercado-liebre.svg" class="img">
          
          <div >
            <form action="/"class="login-bar">
              <input type="text" placeholder=" Buscar productos, marcas">
              <button><a href="" class="fas fa-search"></a></button>
            </form>
          </div>
          
          
          <div class="compra">
              <p><i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i>
              </p>
          </div>
        </div>
    
      <nav class="nav-bar">
  
  
  
          <ul class="enlaces">
              <li><a href="">Ofertas </a></li>
              <li><a href="">Tiendas Oficiales </a></li>
              <li><a href="">Vender </a></li>
              <li><a href="">Ayuda </a></li>
          </ul>
      
          <ul class="enlaces">
                  <li><a href="/register">Creá tu cuenta </a><i class="far fa-id-card"></i>
                  </li>
                  <li><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i>
                  </li>
                  <li><a href="">Mis compras </a><i class="fas fa-shopping-basket"></i>
                  </li>
          </ul>
  
  
  
      </nav>
  
    <a class="burger-menu">
      <i class="fas fa-bars"></i>
    </a>  
  
  
  </header>      

<main class="register">
<div class="main-register">

<form action="/">

    <div>
    <input type="text" id="Nombreyapellido" placeholder=" Nombre y apellido" minlength="8">
    </div>
    <div>
    <input type="text" id="Nombredeusuari@" placeholder=" Nombre de usuari@" minlength="8">
    </div>
    <div>
    <input type="email" id="email" placeholder=" Email" minlength="8">
    </div>
    <div>
    <label for="Fechadenacimiento">Fecha de nacimiento</label>
    <div>
        <input type="date" id="Fechadenacimiento">
    </div>
    </div>
    <div>
    <input type="text" id="Domicilio" placeholder="Domicilio" minlength="8">
    </div>
    <div>
    <label for="Perfildelusuario">Perfil del usuario</label>
    <div class="opciones">
        <input type="radio" name="comprador" id="comprador">
        <label for="comprador">comprador</label>
        <input type="radio" name="vendedor" id="vendedor">
        <label for="vendedor">vendedor</label>
    </div>
    </div>
    <div class="opciones">
    Interéses
    <div><input type="checkbox" name="Electro" id="Electro"><label for="Electro">Electro</label></div>
    <div><input type="checkbox" name="Moda" id="Moda"><label for="Moda">Moda</label></div>
    <div><input type="checkbox" name="Hogar" id="Hogar"><label for="Hogar">Hogar</label></div>
    <div><input type="checkbox" name="Jugueteria" id="Jugueteria"><label for="Jugueteria">Jugueteria</label></div>
    <div><input type="checkbox" name="Vidasana" id="Vidasana"><label for="Vidasana">Vida sana</label></div>
    </div>
    <div>
    <label for="Fotodeusuario">Foto de usuario</label>
    <input type="file" name="Fotodeusuario" id="Fotodeusuario">
    </div>

    <div>
        <input type="password" name="Contraseña" id="Contraseña" placeholder=" contraseña" minlength="8">
    </div>
    
    <div>
    <input type="password" name="Confirmarcontraseña" id="Confirmarcontraseña" placeholder=" Confirmar contraseña" minlength="8">
    </div>
    
    <div>
    <button type="submit" id="Enviar" name="Enviar" placeholder="Enviar">Enviar</button>
    </div>
    
    <div>
        <button type="reset" id="borrar" name="borrar" placeholder="borrar">borrar</button>
    </div>
</form>
</div>
</main>

<footer>
    <div class="footer-section">
<section class="footer-seccion">
    <i class="fas fa-credit-card icono fa-3x" id="iconosfooter"></i>

<h4>Pagá con tarjeta o en efectivo</h4>
<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>

</section>
<section class="footer-seccion">
    <i class="fas fa-gift icono fa-3x"  id="iconosfooter"></i>

    <h4>Envío gratis desde $ 2.500</h4>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    
</section>

<section class="footer-seccion">
    <i class="fas fa-user-shield icono fa-3x"  id="iconosfooter"></i>

        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.!</p>     
</section>
</div>
<section class="footer-copy">
<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</section>

</footer>

</body>
</html>
   
 